# ===== 환경변수 & 비밀키 =====
.env
*.env

# ===== AI 모델 =====
*.pt
*.onnx

# ===== Python =====
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# ===== IDE =====
.idea/
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Claude Code =====
CLAUDE.md
.claude/
